* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(145deg, #203a43, #0f2027, #0f2027);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 'orbtron' sans-serif;
}

.container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 255, 255, 0.2);
    transition: 0.5s ease;
}

.container:hover {
    transform: rotateX('0deg') rotatey('0');
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);

}

#display {
    width: 100%;
    height: 35px;
    font-size: 2rem;
    background: #000;
    color: #0ff;
    text-align: right;
    padding-right: 15px;
    border: none;
    border-radius: 12px;
    margin: 15px;


}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    height: 35px;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #111;
    color: #0ff;
    box-shadow: 0 6px #0ff;
    transition: all 0.2s ease;
}

button:hover {
    background: #0ff;
    color: #111;
    transform: translateY(2px);


}

button:active {
    transform: translateY(6px);
    box-shadow: 0 2px #0ff;
}

.Zero {
    grid-column: span 2;
}